<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <script src="/Content/scripts/jquery-3.2.1.js" attr="defer"></script>
    <script src="/Content/scripts/scripts.js"></script>
    <link rel="icon" href="/Content/img/logo.png" type="image">
    <title>BESTaurants</title>
  </head>
  <body>
    <div class="container">
      <h1>BESTaurants</h1>
      <img src="/Content/img/butler.png" alt="GIT IT" />
      <h4>You can do things with Cuisine types, Local Restaurants, and reviews. Check them out. Enter stuff in. See things.</h4>
      <div class="renderBody">
        @RenderBody()
      </div>

    </div>
  </body>
</html>
