@{
  Layout="Shared/_Layout.cshtml";
}

<h4>ENTER STUFF</h4>

<form action="/cuisines/new" method="post">
  <label for="cuisine-type">Cuisine type</label>
  <input id="cuisine-type" name="cuisine-type" type="text">
  <label for="cuisine-description">Cuisine description</label>
  <input id="cuisine-description" name="cuisine-description" type="text">
  <button type="submit">Add</button>
</form>
