@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Home Page</h3>

<p><a href="cuisines.cshtml">VIEW ALL CUISINES</a></p>
<p><a href="restaurants.cshtml">VIEW ALL Restaurants</a></p>
<p><a href="reviews.cshtml">VIEW ALL reviews</a></p>
