@{
  Layout="Shared/_Layout.cshtml";
}
<h2 class="flashy">SUCCESS!!</h2>
<img src="/Content/img/success.gif" alt="I win!">

<h4><a href ="/cuisines/new">Add a new cuisine!</a></h4>
<h4><a href ="/restaurants/new">Add a new restaurant!</a></h4>
<h4><a href ="/restaurants/new_review">Add a new review!</a></h4>
<h4><a href="/">Return home</a></h4>
